<div fxFlex *ngIf="dish">
  <div class="container"
      fxLayout.sm="column"
      fxLayout.xs="column"
      fxLayoutAlign.gt-md="space-around center"
      fxLayoutGap="10px"
      fxLayoutGap.xs="0"
      fxLayout="row">

    <div fxFlex="40" *ngIf="dish">
      <div fxFlex *ngIf="dish">
        <md-card>
          <md-card-header>
            <md-card-title>
                <h3>{{dish.name | uppercase}}</h3>
            </md-card-title>
          </md-card-header>
          <img  md-card-image src="{{BaseURL + dish.image}}" alt={{dish.name}}>
          <md-card-content>
            <p>
              {{dish.description}}
            </p>
          </md-card-content>
          <md-card-actions>
            <button md-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
            <button md-button>LIKE</button>
            <button md-button>SHARE</button>
            <button md-button (click)="goBack()">BACK</button>
            <span class="flex-spacer"></span>
            <button md-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
          </md-card-actions>
        </md-card>
      </div>
    </div>

    <div fxFlex="40" *ngIf="dish">
      <div fxFlex *ngIf="dish.comments">
        <h1>Comments</h1>
        <md-list *ngFor="let comment of dish.comments">
         <md-list-item>
            <p md-line>
            {{comment.comment}}
            </p>
            <p md-line>
              {{comment.rating}} Stars
            </p>
            <p md-line>
              <span> -- {{comment.author}} {{comment.date | date}}</span>
            </p>
          </md-list-item>
        </md-list>
      </div>
    </div>
  </div>
  <div *ngIf="dish">
    <h3>Leave your Comment</h3>
    <p>Preview of the comment
      {{ commentForm.value | json }}
    </p>
    <form novalidate [formGroup]="commentForm" class="full-width" (ngSubmit)="onSubmit()">
      <p>
        <md-input-container class="full-width"
          dividerColor="{{(commentForm.get('author').hasError('required') && commentForm.get('author').touched) ? 'warn' : 'primary'}}">
          <input mdInput formControlName="author" placeholder="Author" type="text" required>
          <md-hint>
              <span [hidden]="!(formErrors.author)">
                {{formErrors.author}}
              </span>
          </md-hint>
        </md-input-container>
      </p>
      <p>
        <md-slider formControlName="rating" thumbLabel tickInterval="1" min="1" max="10" step="0.5" value="5" ></md-slider>
      </p>
      <p>
       <md-input-container class="full-width"
         dividerColor="{{(commentForm.get('comment').hasError('required') && commentForm.get('comment').touched) ? 'warn' : 'primary'}}">
         <textarea mdInput formControlName="comment" placeholder="Comment" rows=12 required></textarea>
         <md-hint>
             <span [hidden]="!(formErrors.comment)">
               {{formErrors.comment}}
             </span>
         </md-hint>
       </md-input-container>
     </p>
     <button type="submit" md-button class="background-primary text-floral-white" [disabled]="commentForm.invalid">Submit</button>
    </form>
  </div>
</div>

<div [hidden]="dish || errMess">
  <md-spinner></md-spinner><h4>Loading . . . Please Wait</h4>
</div>
<div *ngIf="errMess">
  <h2>Error</h2>
  <h4>{{errMess}}</h4>
</div>
